/* universal styles */
:root {
--background-color: #FFF9F3;
--main-color: #CB4D00;
--secondary-color: #38548F;
--accent-color: #D3E2F3;
--box-colors: white;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
  background-color: var(--background-color);
}

/* default text styles */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: var(--main-color);
  font-weight: bolder;
}

p {
  margin: 0;
}

h2 {
  font-size: 2rem;
  letter-spacing: 0.01rem;
  margin-bottom: -1.2rem;
  margin-left: -1rem;
  font-size: 35px;
}

hr {
  border: none;
  border-top: 1px dashed var(--main-color);
  width: 25%
}

/* section text boxes and titles */

.text-box {
  color: var(--secondary-color);
  background-color: var(--box-colors);
  padding: 5px;
  text-wrap: wrap;
}

.text-title-section {

}
/* default styles for mobile */

  /* nav bar styling */
header {
  text-align: start;
  margin: 1rem;
  font-size: 1.5rem;
  word-wrap: normal;
  line-height: 0.9;
}

#sub-header{
  margin-top: -0.5rem;
  font-size: 1.3rem;
  color: var(--secondary-color);
  background-color: var(--box-colors);
  padding: 10px
}

nav {
  color: var(--main-color);
  text-align: center;

}

header a {
  margin-right: 10px;
  color: var(--main-color);
}


  /* hero banner styling */

.hero {
  background-image: url(/images/wideHeroImage.png);
  height: 200px;
  width: 100%;
  margin-bottom: 25px;
  background-size: cover;
  background-position: center;
}

  /* about me section styles */
#about {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
}

#profile-image {
  height: 18rem;
  width: 18rem;
  order: 1;
}

  /* work section styles */
div img {
  width: 90%;
  align-items: center;
}

  /* contact section styles */
#contact-links {
  color: var(--secondary-color);
  font-weight: bold;
  text-align: center;
}

#contact a {
  color: var(--main-color);
  font-weight: lighter;
}

  /* footer styles */
footer {
  color: var(--secondary-color);
  text-align: center;
  font-size: smaller;
}

  /* Media query for tablets */
@media (min-width: 768px) {
  
  /* about section */
  #about {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
  }

  #about-box {
    width: 60%;
  }

  #profile-image {
    height: 14rem;
    width: 14rem;
    order: 2;
  }

  /* work section */
.work-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  grid-template-areas: 
  "item-1 item-2" 
  "item-1 item-3" 
  "item 1 item-4";
  border: 1px dashed var(--main-color);
  align-items: start;
}

/* div {
  display: flex;
  justify-content: center;
  align-items: center;
} */

#feature-project {
  grid-area: item-1;
}

#secondary-project-1 {
  grid-area: item-2;
}

#secondary-project-2 {
  grid-area: item-3;
}

#secondary-project-3 {
  grid-area: item-4;
}

div img {
  width: 50%;
}
}

/* Media query for desktop */
@media (min-width: 1025px) {

  /* about section */
  #about-box {
    width: 70%;
  }

  /* work section  */

}

@media (min-width: 1281px) {

  /* about section */
  #about-box {
    width: 75%;
  }

  /* work section */

}