/* universal styles */
:root {
  --background-color: #FFF9F3;
  --main-color: #CB4D00;
  --secondary-color: #38548F;
  --accent-color: #D3E2F3;
  --box-colors: white;
  --transparent-box: hsl(0, 0%, 100%, 0.9);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
  background-color: var(--background-color);
}

/* default text styles */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: var(--main-color);
  font-weight: bolder;
}


h2 {
  font-size: 2rem;
  letter-spacing: 0.01rem;
  margin-bottom: -1.2rem;
  margin-left: -1rem;
  font-size: 35px;
}

hr {
  border: none;
  border-top: 1px dashed var(--main-color);
  width: 25%
}

/* section text boxes and titles */

.text-box {
  color: var(--secondary-color);
  background-color: var(--box-colors);
  padding: 5px;
  text-wrap: wrap;
}

/* default styles for mobile */

/* nav bar styling */
header {
  text-align: start;
  margin: 1rem;
  font-size: 1.5rem;
  word-wrap: normal;
  line-height: 0.9;
}

#sub-header {
  margin-top: -0.5rem;
  font-size: 1.3rem;
  color: var(--secondary-color);
  background-color: var(--box-colors);
  padding: 10px
}

nav {
  color: var(--main-color);
  text-align: center;

}

header a {
  margin-right: 10px;
  color: var(--main-color);
}


/* hero banner styling */

.hero {
  background-image: url(/images/wideHeroImage.png);
  height: 200px;
  width: 100%;
  margin-bottom: 25px;
  background-size: cover;
  background-position: center;
}

/* about me section styles */
#about {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
}

#profile-image {
  height: 18rem;
  width: 18rem;
  order: 1;
}

/* work section styles */
article {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  flex-grow: auto;
  margin: 40px;
  gap: 10px;
}

.project {
  border: 1px solid var(--main-color);
  width: 90rem;
  height: 15rem;
  background-repeat: no-repeat;
  background-size: cover;

}

/* project hover effect */
.project:hover {
  box-shadow: inset 0px 0px 8px var(--main-color), 0 0 15px var(--main-color);
}

#projectOne {
  border: 1px solid var(--main-color);
  width: 90rem;
  height: 20rem;
  background-image: url(/images/webUpDigitalMarketing.jpg);
}

#projectTwo {
  background-image: url(/images/cssSnippetCheatsheet.jpg);
}

#projectThree {
  background-image: url(/images/jakesEatery.jpg);
}

#projectFour {
  background-image: url(/images/studyGuide.jpg);
}

.label {
  font-size: 1rem;
  font-weight: bold;
  color: var(--secondary-color);
  background-color: var(--transparent-box);
  width: auto;
  margin-top: 0;
  padding: 10px
}

.label a {
  color: var(--main-color);
  font-weight: bolder;
}


/* contact section styles */
#contact-links {
  color: var(--secondary-color);
  font-weight: bold;
  text-align: center;
}

#contact-links a {
  color: var(--main-color);
  font-weight: lighter;
}

/* footer styles */
footer {
  color: var(--secondary-color);
  text-align: center;
  font-size: smaller;
}

/* Breakpoint One / Smaller tablets */
@media (min-width: 800px) {

  /* about section */
  #about {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
  }

  #about-box {
    width: 60%;
  }

  #profile-image {
    height: 14rem;
    width: 14rem;
    order: 2;
  }

  /* work section */
  .project {
    width: 14.6rem;
    height: 15rem;
    flex-grow: 1;
  }

  #projectOne {
    width: 45rem;
    height: 30rem;
  }

}



/* Breakpoint Two / larger tablets, small laptops */
@media (min-width: 1015px) {

  /* about section */
  #about-box {
    width: 70%;
  }

  /* work section */
  #projectOne {
    width: 70rem;
  }


}

/* Breakpoint Three / Average laptops and desktops */
@media (min-width: 1270px) {

  /* about section */
  #about-box {
    width: 75%;
  }

  /* work section */
  #projectOne {
    width: 78rem;
  }
}

/* Breakpoint Four / Larger desktops and screens */
@media only screen and (min-width: 1525px) {

  /* work section */
  #projectOne {
    width: 100rem;
  }
}