/* universal styles */
:root {
--background-color: #FFF9F3;
--main-color: #CB4D00;
--secondary-color: #38548F;
--accent-color: #D3E2F3;
--box-colors: white;
--transparent-box: 	hsl(0, 0%, 100%, 0.9);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
  background-color: var(--background-color);
}

/* default text styles */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: var(--main-color);
  font-weight: bolder;
}


h2 {
  font-size: 2rem;
  letter-spacing: 0.01rem;
  margin-bottom: -1.2rem;
  margin-left: -1rem;
  font-size: 35px;
}

hr {
  border: none;
  border-top: 1px dashed var(--main-color);
  width: 25%
}

/* section text boxes and titles */

.text-box {
  color: var(--secondary-color);
  background-color: var(--box-colors);
  padding: 5px;
  text-wrap: wrap;
}

.text-title-section {

}
/* default styles for mobile */

  /* nav bar styling */
header {
  text-align: start;
  margin: 1rem;
  font-size: 1.5rem;
  word-wrap: normal;
  line-height: 0.9;
}

#sub-header{
  margin-top: -0.5rem;
  font-size: 1.3rem;
  color: var(--secondary-color);
  background-color: var(--box-colors);
  padding: 10px
}

nav {
  color: var(--main-color);
  text-align: center;

}

header a {
  margin-right: 10px;
  color: var(--main-color);
}


  /* hero banner styling */

.hero {
  background-image: url(/images/wideHeroImage.png);
  height: 200px;
  width: 100%;
  margin-bottom: 25px;
  background-size: cover;
  background-position: center;
}

  /* about me section styles */
#about {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
}

#profile-image {
  height: 18rem;
  width: 18rem;
  order: 1;
}

  /* work section styles */

/* project name and skills label */
#container {
  display: grid;
  grid-template-columns: 1fr 40%;
  grid-template-areas: 
      "projectOne projectTwo"
      "projectOne projectThree"
      "projectOne projectFour";
  grid-gap: 10px;
  margin-left: 5rem;
  margin-right: 5rem;
}

.project {
  border: 2px solid var(--main-color);
  border-radius: 5px;
  margin: 1rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

#projectOne { 
  grid-area: projectOne;
  height: 700px;
  width: auto;
  background-image: url(/images/cssSnippetCheatsheetWide.png);
}

#projectTwo {
  grid-area: projectTwo;
  height: auto;
  width: auto;
  background-image: url(/images/jakesEateryWide.png);
}

#projectThree {
  grid-area: projectThree;
  height: auto;
  width: auto;
  background-image: url(/images/webUpDigitalMarketing.png);
}

#projectFour {
  grid-area: projectFour;
  height: auto;
  width: auto;
  background-image: url(/images/studyGuide.png);
}

.label {
  font-size: large;
  font-weight: bold;
  padding: 0 1rem;
  margin: 0;
  color: var(--secondary-color);
  background-color: var(--transparent-box);
  position: absolute;
  width: 250px;
  height: 70px;
}

.label a {
  color: var(--main-color);
  font-size: larger;
}

  /* contact section styles */
#contact-links {
  color: var(--secondary-color);
  font-weight: bold;
  text-align: center;
}

#contact-links a {
  color: var(--main-color);
  font-weight: lighter;
}

  /* footer styles */
footer {
  color: var(--secondary-color);
  text-align: center;
  font-size: smaller;
}

  /* Media query for tablets */
@media (min-width: 768px) {
  
  /* about section */
  #about {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
  }

  #about-box {
    width: 60%;
  }

  #profile-image {
    height: 14rem;
    width: 14rem;
    order: 2;
  }
}
  /* work section */



/* Media query for desktop */
@media (min-width: 1025px) {

  /* about section */
  #about-box {
    width: 70%;
  }

  /* work section  */

}

@media (min-width: 1281px) {

  /* about section */
  #about-box {
    width: 75%;
  }

  /* work section */

}